/* Stylesheet by Jake Steinberg, Oct. 2022 */

/* universal site styles */

.body {
    background-color: #001219;
    color: #FAF9F6;
    padding-bottom: 100px;
}

.body a {
    color: #EE9B00;
}

.body a:hover {
    color: #CA6702;
}

/* fonts */

@font-face {
    font-family: Inknut Antiqua;
    src: url("fonts/InknutAntiqua-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
    font-style: normal;
 }

@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
    font-style: italic;
}

    /* Optima */

    @font-face {
        font-family: Optima;
        src: url("fonts/Optima/OptimaLTPro-Medium.otf");
        font-style: normal;
        font-weight: medium;
    }

    @font-face {
        font-family: Optima;
        src: url("fonts/Optima/OptimaLTPro-ExtraBlack.otf");
        font-style: normal;
        font-weight: bolder
    }


/* index.html, navbar */

#navbarNav {
    width: 400px;
}

.body .nav-link {
    color: #FAF9F6;
    font-size: 16pt;
    font-family: Inknut Antiqua;
}

.body .nav-link:hover {
    color: #CA6702;
}

.body a.nav-link.active {
    color: #EE9B00;
}

.nav-name {
    color: #FAF9F6;
    font-size: 26pt;
    margin-bottom: 0;
    margin-top: 10;
    font-family: Inknut Antiqua;
}

.nav-sub {
    font-family: OpenSans;
    font-size: 14pt;
    font-variant: small-caps;
}

#name-container{
    margin-left: 8%;
    padding-bottom: 0;
    padding-top: 1%;
    margin-right: 10%;
}

/* navbar on mobile devices */

@media only screen and (min-width: 0px) and (max-width: 576px)  {
    #nav-name{
        display: none;
    }

    #navbarNav{
        width: 330px
    }

    #name-container{
        margin-left: 3%;
    }

    #amillion .nav-name {
        letter-spacing: 1px !important;
    }

    #amillion h1#deconstruct {
        font-size: 16pt !important;
    }

    #amillion .row.glyph {
        margin-top: 50% !important;
        margin-bottom: 50% !important;
    }

    #amillion #text-pic {
        width: 50% !important;
        margin-left: auto !important;
    }

    #amillion #text-pic-2 {
        margin-right: auto !important;
    }

    #amillion p.amillion-text-pic-2 {
        text-align: left !important;
    }
    
 }

/* index.html, top */

.container #top {
    margin-top: 10px;
    margin-bottom: 40px;
}

.me-box {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    }

#me-box img {
    width: 100%
}

#me-text {
	position: relative;
	height: auto;
	float: left;
    color: #FAF9F6;
    font-family: Inknut Antiqua;
    padding: 1em;
    padding-bottom: 2em;
}

.about-intro {
    position: relative;
	font-size: 19px;
	line-height: 28px;
	font-weight: 300;
	text-align: left;
	float: left;
	margin: 0px 20px 0px 0px;
    font-family: OpenSans;
}

#me-pic {
    position: relative;
	height: auto;
	float: left;
	padding: 0px;
	margin: 0px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
}

/* index.html, portfolio */

.portfolio-title {
    color:#FAF9F6;
    font-family: Inknut Antiqua;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#grid-pic {
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
    transition: transform .3s ease-in-out;
}

#grid-pic:hover {
    transform: rotate(3deg);
}

.grid-item {
    float: left;
    padding: 5%;
}

.card-title {
    text-align: center;
    color: #FAF9F6;
    font-family: Inknut Antiqua;
    font-size: 14pt;
    padding-top: 1em;
}

/* resume.html */

#resume-item {
    font-family: OpenSans;
    padding-bottom: 20px;
}

#resume {
    padding-top: 30px;
}

.section {
    font-family: Inknut Antiqua;
    margin-top: 0 !important;
}

.body hr {
    opacity: 1 ;
}

.date {
    margin-bottom: 5px;
    font-variant: small-caps;
}

.job {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.comp {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 14pt;
}

.skills {
    margin-top: 1em;
}

/* portfolio pages */

.map-title {
    font-family: Inknut Antiqua;
    padding: 1em;
}

.map-detail {
    font-family: OpenSans;
    padding-bottom: 50px;
}

.portfolio-image {
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
}

/* 22map.html */

#amillion {
    background-color: #e6e4db;
    color: #85827e;
    padding-bottom: 100px;
}

#amillion .nav-name {
    color: #a0a6a5;
    font-family: Optima;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#amillion .nav-link {
    color: #a0a6a5;
    font-family: Optima;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#amillion .nav-sub {
    color: #636059;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    letter-spacing: 1px;
}

#amillion a {
    color: #262421;
}

#amillion a:hover {
    color: #C72C2B;
}

#amillion-header {
    padding-top: 2em;
}

#amillion .center.title.amillion {
    height: 70vh
}

#amillion .title h1.amillion-title {
    color: #a0a6a5;
    font-family: 'Courier New', Courier, monospace;;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 50px;
}

#amillion p.amillion-text {
    color: #636059;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    text-align: left;
}

#amillion #print {
    padding-top: 30px;
}

#amillion .row.amillion {
    margin-bottom: 30px;
}

#amillion .left{
    padding-right: 40px;
}

#amillion figcaption {
    color: #636059;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    text-align: center;
    font-size: 16pt;
}

#amillion h1 {
    color: #a0a6a5;
    font-family: Optima;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 28pt;
}

#amillion #color-pic {
    width: 80%;
}

#amillion #text-pic {
    width: 30%;
    display: block;
    margin-left: 66%;
    margin-right: auto;
}

#amillion #text-pic-2 {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: 66%;
}

#amillion p.amillion-text-pic-2 {
    color: #636059;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    text-align: right;
}

#amillion p.amillion-jump {
    color: #636059;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    text-align: center;
}

#amillion .row.glyph {
    margin-top: 25%;
    margin-bottom: 25%;
}

#dude {
    width: 15%;
}

#fireball {
    width: 20%
}

#weed {
    width: 30%
}

#twoface {
    width: 40%
}

#fingers {
    width: 10%
}

#turnblue {
    width: 30%
}

#astuary {
    width: 80%;
}