/* Stylesheet by Jake Steinberg, Oct. 2022 */

/* universal site styles */

.body {
    background-color: #001219;
    color: #FAF9F6;
    padding-bottom: 100px;
}

.body a {
    color: #EE9B00;
}

.body a:hover {
    color: #CA6702;
}

/* fonts */

@font-face {
    font-family: 'Inknut Antiqua';
    src: url("/lib/InknutAntiqua-Regular.ttf");
    font-style:normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("/lib/OpenSans-VariableFont_wdth,wght.ttf");
    font-style:normal;
 }

@font-face {
    font-family: 'OpenSans';
    src: url("/lib/OpenSans-Italic-VariableFont_wdth,wght.ttf");
    font-style:italic;
}

/* index.html, navbar */

#navbarNav {
    width: 400px;
}

.nav-link {
    color: #FAF9F6 !important;
    font-size: 16pt !important;
    font-family: Inknut Antiqua;
}

.nav-link:hover {
    color: #CA6702 !important;
}

a.active {
    color: #EE9B00 !important;
}

.nav-name {
    color: #FAF9F6 !important;
    font-size: 26pt !important;
    margin-bottom: 0;
    margin-top: 10;
    font-family: Inknut Antiqua;
}

.nav-sub {
    font-family: OpenSans;
    font-size: 14pt;
    font-variant: small-caps;
}

#name-container{
    margin-left: 8%;
    padding-bottom: 0;
    padding-top: 1%;
    margin-right: 10%;
}

/* navbar on mobile devices */

@media only screen and (min-width: 0px) and (max-width: 576px)  {
    #nav-name{
        display: none;
    }

    #navbarNav{
        width: 330px
    }

    #name-container{
        margin-left: 3%;
    }
 }

/* index.html, top */

.container #top {
    margin-top: 10px;
    margin-bottom: 40px;
}

.me-box {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    }

#me-box img {
    width: 100%
}

#me-text {
	position: relative;
	height: auto;
	float: left;
    color: #FAF9F6;
    font-family: Inknut Antiqua;
    padding: 1em;
    padding-bottom: 2em;
}

.about-intro {
    position: relative;
	font-size: 19px;
	line-height: 28px;
	font-weight: 300;
	text-align: left;
	float: left;
	margin: 0px 20px 0px 0px;
    font-family: OpenSans;
}

#me-pic {
    position: relative;
	height: auto;
	float: left;
	padding: 0px;
	margin: 0px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
}

/* index.html, portfolio */

.portfolio-title {
    color:#FAF9F6;
    font-family: Inknut Antiqua;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#grid-pic {
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
    transition: transform .3s ease-in-out;
}

#grid-pic:hover {
    transform: rotate(3deg);
}

.grid-item {
    float: left;
    padding: 5%;
}

.card-title {
    text-align: center;
    color: #FAF9F6;
    font-family: Inknut Antiqua;
    font-size: 14pt;
    padding-top: 1em;
}

/* resume.html */

#resume-item {
    font-family: OpenSans;
    padding-bottom: 20px;
}

#resume {
    padding-top: 30px;
}

.section {
    font-family: Inknut Antiqua;
    margin-top: 0 !important;
}

.body hr {
    opacity: 1 ;
}

.date {
    margin-bottom: 5px;
    font-variant: small-caps;
}

.job {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.comp {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 14pt;
}

.skills {
    margin-top: 1em;
}

/* portfolio pages */

.map-title {
    font-family: Inknut Antiqua;
    padding: 1em;
}

.map-detail {
    font-family: OpenSans;
    padding-bottom: 50px;
}

.portfolio-image {
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #FAF9F6;
}